* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    color: #1c1e21;
    background: rgb(240, 242, 245) ;
    font-size: 28px;
    line-height: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

.blue-text {
    color: #1f6de2;
}

.md-text {
    font-size: 55px;
    font-weight: bold;
}

.mb-20 {
    margin-bottom: 20px;
}

.container {
    display: flex;
    min-height: 100vh;
}

.left-container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    justify-content: center;
    padding-left: 150px;
    padding-right: 50px;
}

.right-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding-left: 50px;
    padding-right: 150px;
}

.box-login {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.form-login {
    display: flex;
    flex-direction: column;
}

.input-login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
}

