.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.about h1 {
    font-size: 40px;
    font-weight: var(--font-black);
}

.about h2 {
    font-size: 22px;
    font-weight: 200;
    margin-bottom: 20px;
}

.about p {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 40px;
}